<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>主页</title>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
    <link href="css/main.css" rel="stylesheet">
</head>
<body style="">
    <div class="login-mask">
        <div class="login-container">
            <div id="login-window"  style="display: none" class="login-window">
                <span class="login-close" onclick="$('.login-mask').fadeOut()">X</span>
                <form action="" autocomplete="off">
                    账号：<input type="text" class="userid" id="userid" onfocus="if(this.value=='请输入用户名/手机号'){this.value=''}" onblur="if(this.value==''){this.value='请输入用户名/手机号'}" value="请输入用户名/手机号" /><br/>
                    密码：<input type="text" class="password" id="password" onfocus="if(this.value=='请输入密码'){this.value='';this.type='password';}" onblur="if(this.value==''){this.value='请输入密码';this.type='text';}" value="请输入密码"/><br/>
                    <p>验证码：<input type="text" class="captcha" id="captcha"  value=""/><img style="height:50px;width: 70px;float: right" src=""></p>
                    <input class="submit-btn" type="button" value="登录" onclick="$.ajax({})">
                    <a href="#">忘记密码</a>
                </form>
            </div>
            <div id="playqes"  class="login-window">
                <p class="qes-title">1、试题内容，试题问题，答案是（ ）。</p>

                <P><input value="A" name="s-q" type="radio"/>A、选项1</P>
                <P><input name="s-q" value="B" type="radio"/>B、选项2</P>
                <P><input name="s-q" value="C" type="radio"/>C、选项3</P>
                <P><input name="s-q" value="D" type="radio"/>D、选项4</P>


                <input id="tijiao" style="cursor: pointer" type="submit" value="提交答案"/>

            </div>
        </div>
    </div>
    <div class="header">
        <div class="content">
            <div class="logo2">
                <a href="index.html">
                    <img src="images/logo2.png" title="LOGO">
                </a>
            </div>
            <div class="logo">
                <a href="index.html">
                    <img src="images/logo3.png" title="LOGO">
                </a>
            </div>
            <div class="login-panel">
                <div class="logpre ">
                    <ul id="login-menu" class="logpre-list">
                        <li class="login-model list-one" onclick="$('.login-mask').fadeIn();">
                            <p>登录/注册</p>
                        </li>
                        <li class="list-one">
                            <a class="link" href="#" title="帮助" target="_blank">我的学习</a>
                            <ul>
                                <li><a href="#">我的学习</a></li>
                                <li><a href="#">我的学习</a></li>
                                <li><a href="#">我的学习</a></li>
                                <li><a href="#">我的学习</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nav">
            <ul class="nav-menu">
                <li style="width: 60px;" class="">
                    <a style="font-size: 18px;width: 80px; text-align: center;display: block;float: left;color: #fff;" href="/index">首页</a>
                </li>
                <li class="nav-menu-one">
                    <p>扶贫专栏<span>▼</span></p>
                    <ul class="nav-list">
                        <li><a href="">政策背景</a></li>
                        <li><a href="">基础知识</a></li>
                        <li><a href="">战略方法</a></li>
                        <li><a href="">实战应用</a></li>
                    </ul>
                </li>
                <li class="nav-menu-one">
                    <p>电商技术<span>▼</span></p>
                    <ul class="nav-list">
                        <li><a href="">基础运营</a></li>
                        <li><a href="">营销推广</a></li>
                        <li><a href="">美工设计</a></li>
                        <li><a href="">客服物流</a></li>
                    </ul>
                </li>
                <li class="nav-menu-one">
                    <p>农村电商<span>▼</span></p>
                    <ul class="nav-list">
                        <li><a href="">农货进城</a></li>
                        <li><a href="">城货下乡</a></li>
                        <li><a href="">微商运营</a></li>
                        <li><a href="">农贷众筹</a></li>
                    </ul>
                </li>
                <li class="nav-menu-one">
                    <p>跨境电商<span>▼</span></p>
                    <ul class="nav-list">
                        <li><a href="">卖到国外</a></li>
                        <li><a href="">购买洋货</a></li>
                        <li><a href="">趋势分析</a></li>
                    </ul>
                </li>
                <li class="nav-menu-one">
                    <p>资讯新政<span>▼</span></p>
                    <ul class="nav-list">
                        <li><a href="">电商动态</a></li>
                        <li><a href="">案例工厂</a></li>
                        <li><a href="">名人演讲</a></li>
                    </ul>
                </li>
            </ul>
            <script>
                var timeout         = 500;
                var closetimer		= 0;
                var ddmenuitem      = 0;

                function jsddm_open(){	jsddm_canceltimer();
                    jsddm_close();
                    ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');
                }

                function jsddm_close(){	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}

                function jsddm_timer(){	closetimer = window.setTimeout(jsddm_close, timeout);}

                function jsddm_canceltimer(){
                    if(closetimer){
                        window.clearTimeout(closetimer);
                        closetimer = null;
                    }
                }
                $('.nav-menu > li').bind('mouseover', jsddm_open);
                $('.nav-menu > li').bind('mouseout',  jsddm_timer);

                $('#login-menu > li').bind('mouseover', jsddm_open);
                $('#login-menu > li').bind('mouseout',  jsddm_timer);

                document.onclick = jsddm_close;
            </script>
            <div class="search-panel">
                <form id="search-form" action="" method="">
                    <input autocomplete="off" class="search-input" onfocus="if(this.value=='请输入搜索内容'){this.value=''}" onblur="if(this.value==''){this.value='请输入搜索内容'}" value="请输入搜索内容" type="text" />
                </form>
                <span class="ico ico-search-ico" onclick="$.search_click_handler();"></span>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-content-top">
            <div class="scrollPic">
                <img class="left-arrow" src="images/arrow.png"/>
                <img class="right-arrow" src="images/arrow1.png"/>
                <div class="page-btn">
                    <div class="content">
                        <span class="current"></span>
                        <span class=""></span>
                        <span class=""></span>
                        <span class=""></span>
                        <span class=""></span>
                    </div>
                </div>
                <ul id="list">
                    <li ><a href="#"><img src="images/hot1.jpg"></a></li>
                    <li ><a href="#"><img src="images/hot2.jpg"></a></li>
                    <li ><a href="#"><img src="images/hot3.jpg"></a></li>
                    <li ><a href="#"><img src="images/hot4.jpg"></a></li>
                    <li ><a href="#"><img src="images/hot5.jpg"></a></li>
                </ul>
            </div>
            <div class="right">
                <p class="title"><span class="ico ico-note-ico"></span><span class="context">通知公告</span></p>
                <ul>
                    <li><a href="#"><span>2005-05-05</span>新闻新闻新闻新新sda闻新闻新闻新闻新闻新新sda闻新闻新闻新闻新闻新新sda闻新闻</a></li>
                    <li><a href="#"><span>2005-05-05</span>新闻新闻新闻sdasda闻新闻新闻</a></li>
                    <li><a href="#"><span>2005-05-05</span>新闻新闻新闻闻dasdas新闻新闻</a></li>
                    <li><a href="#"><span>2005-05-05</span>新闻新闻新闻dasd闻新闻新闻</a></li>
                    <li><a href="#"><span>2005-05-05</span>新闻新闻新闻闻dasdas新闻新闻</a></li>
                    <li><a href="#"><span>2005-05-05</span>新闻新闻新闻dasd闻新闻新闻</a></li>
                </ul>
            </div>
        </div>
        <div class="main-content-mid">
            <div class="row">
                <!--所有课程-->
                <div class="list-top">
                    <p>资讯新政</p>
                </div>
                <ul class="zt-course-all">
                    <li class="zt-course-one">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-1.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </li>
                    <li class="zt-course-one">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </li>
                    <li class="zt-course-one">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </li>
                    <li class="zt-course-one">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </li>
                    <li class="zt-course-one">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <!--所有课程-->
                <div class="list-top">
                    <p>农村电商</p>
                </div>
                <ul class="zt-course-all">
                    <li class="zt-course-one">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-1.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </li>
                    <li class="zt-course-one">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </li>
                    <li class="zt-course-one">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </li>
                    <li class="zt-course-one">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </li>
                    <li class="zt-course-one">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sort-tabs">
                <div class="zt-all">
                    <ul class="zt-nav">
                       <li class="current" title=""><p>扶贫专栏</p></li>
                       <li title=""><p>电商技术</p></li>
                       <li title=""><p>跨境电商</p></li>
                    </ul>
                </div>
                <div class="zt-tab">
                    <!--专题1-->
                    <div class="zt ">
                        <ul class="zt-course-all">
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-2.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!--专题2-->
                    <div class="zt inactive">
                        <ul class="zt-course-all">
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-3.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!--专题3-->
                    <div class="zt inactive">
                        <ul class="zt-course-all">
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                            <li class="zt-course-one">
                                <a href="play.html">
                                    <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                    <div class="caption">
                                        <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                        <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <script>

                </script>
            </div>
            <div class="row1">
                <div class="list-top">
                    <p>最新课程</p>
                </div>
                <div class="list-box">
                    <div class="list-left">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-1.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><br/><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </div>
                    <ul class="course-all">
                        <li class="course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-1.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row2">
                <div class="list-top">
                    <p>最热课程</p>
                </div>
                <div class="list-box">
                    <div class="list-left">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-1.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </div>
                    <ul class="course-all">
                        <li class="course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-1.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-1.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!--所有课程-->
                <div class="list-top">
                    <p>猜你喜欢</p>
                </div>
                <ul class="zt-course-all">
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-1.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                        <li class="zt-course-one">
                            <a href="play.html">
                                <div class="thumbnail"><img src="images/1-4.jpg" alt="缩略图"/></div>
                                <div class="caption">
                                    <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                    <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                                </div>
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="main-content-bottom">
            <div class="list-top">
                <p>评论反馈</p>
            </div>
            <div class="list-bottom">
                <div class="bottom-comment">
                    <div class="comment-left">
                        <a href="play.html">
                            <div class="thumbnail"><img src="images/1-1.jpg" alt="缩略图"/></div>
                            <div class="caption">
                                <b>电商培训之如何使用平台电商培训之如何使用平台</b>
                                <p><span class="video-author">作者：邵兵</span><span class="watch-num">6524人学习</span></p>

                            </div>
                        </a>
                    </div>
                    <div class="comment-right">
                        <p class="comment-title">评论信息：</p>
                        <ul>
                            <li>
                                <p>电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台</p>
                            </li>
                            <li>
                                <p>电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台</p>
                            </li>
                            <li>
                                <p>电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台</p>
                            </li>
                            <li>
                                <p>电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台</p>
                            </li>
                            <li>
                                <p>电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台</p>
                            </li>
                            <li>
                                <p>电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台电商培训之如何使用平台</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-fb">
                    <div class="fb-title">
                        <p>学员反馈：</p>
                    </div>
                    <ul>
                        <li><p><span class="fb-time">2016-05-05</span><span class="fb-text">电商培训之如何使用平台电商培训之如何培训之如何使用平台电商培训之如何使用平台电商培训之如何培训之如何使用平台</span></p></li>
                        <li><p><span class="fb-time">2016-05-05</span><span class="fb-text">电商培训之如何使用平台电商培训之如何培训之如何使用平台电商培训之如何使用平台电商培训之如何培训之如何使用平台</span></p></li>
                        <li><p><span class="fb-time">2016-05-05</span><span class="fb-text">电商培训之如何使用平台电商培训之如何培训之如何使用平台电商培训之如何使用平台电商培训之如何培训之如何使用平台</span></p></li>
                        <li><p><span class="fb-time">2016-05-05</span><span class="fb-text">电商培训之如何使用平台电商培训之如何培训之如何使用平台电商培训之如何使用平台电商培训之如何培训之如何使用平台</span></p></li>
                    </ul>
                    <div class="fb-input">
                        <form autocomplete="off">
                            <textarea></textarea>
                            <input value="提交" type="button"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $.fadePic();
        </script>
    </div>
    <div class="linkweb">
        <span>友情连接</span>
        <ul>
            <li>
                <a href="http://www.mohrss.gov.cn/" target="_blank"><img src="images/link/gjrlzyhshbzb.jpg"></a>
            </li>
            <li>
                <a href="http://gx.si.gov.cn:8005/gxsi/" target="_blank"><img src="images/link/sbpt.jpg"></a>
            </li>
            <li>
                <a href="http://www.bbrtv.com/Simplified/special/ren/" target="_blank"><img src="images/link/gxdtrszc.jpg"></a>
            </li>
            <li>
                <a href="http://www.gxgwyj.gov.cn/" target="_blank"><img src="images/link/gxgwyj.jpg"></a>
            </li>
            <li>
                <a href="http://www.gxpx365.com/" target="_blank"><img src="images/link/gxjypxw.gif"></a>
            </li>
            <li>
                <a href="http://www.gxrc.com/" target="_blank"><img src="images/link/gxrc.gif"></a>
            </li>
            <li>
                <a href="http://www.gxpta.com.cn/" target="_blank"><img src="images/link/gxrsks.gif"></a>
            </li>
            <li>
                <a href="http://guangxi.caiep.org/" target="_blank"><img src="images/link/gxwjj.jpg"></a>
            </li>
            <li>
                <a href="http://sub.gxnews.com.cn/subject/2014/rszc/index.html" target="_blank"><img src="images/link/gxxwwrszc.jpg"></a>
            </li>
            <li>
                <a href="http://sub.gxnews.com.cn/subject/2014/rszc/index.html" target="_blank"><img src="images/link/zyjnjd.gif"></a>
            </li>
            <li>
                <a href="http://www.gxce.net/"><img src="images/link/jxjypt.jpg" target="_blank"></a>
            </li>
            <li>
                <a href="http://www.gxhrsr.com/"><img src="images/link/kyw.png" target="_blank"></a>
            </li>
            <li>
                <a href="http://gx.people.com.cn/GB/179459/357668/index.html" target="_blank"><img src="images/link/rmwrssc.jpg"></a>
            </li>
            <li>
                <a href="http://gx.osta.org.cn/index.html" target="_blank"><img src="images/link/zyjnjd.gif"></a>
            </li>
            <li>
                <a href="http://www.gxszyf.gov.cn/" target="_blank"><img src="images/link/szyfw.jpg"></a>
            </li>
            <li>
                <a href="http://www.gxzf.gov.cn/" target="_blank"><img src="images/link/zzqrmzfw.jpg"></a>
            </li>
        </ul>
    </div>
    <div class="side-bar">
        <a href="#">
            <span class="gotop">返回顶部</span>
        </a>
    </div>
    <div class="footer">
        <p>©Copyright2016-2016 广西电子商务中心版权所有 网址：nanning071836.11467.com，单位地址：中国  广西  南宁市  广西南宁市 已经有{{}}人访问</p>
        <p>农村电商培训视频学习，本站所有资源转载请联系！</p>
        <p>相关链接：南宁企业名录  票务服务企业名录  南宁票务服务公司  乘务服务报价 旅游服务  宾馆服务</p>
        <p>设为首页 | 加入收藏 | 联系顺企网 | 法律声明</p>
        <p>免责声明：本站信息由广西国际电子商务中心发布，本站所有服务免费，请提防诈骗，顺企网不负热河责任  信息有误？马上纠正或修改</p>
    </div>
</body>
</html>