<ion-view view-title="课程详情" animation="slide-left-right">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-stable" ng-click="$ionicGoBack()">
        <i style="font-size: 20px;" class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content  >
    <div class="player-main">
      <div class="player" id="player">
        <video id="H5video{{resid}}" class="player_html5" controls="controls" ng-src="{{videoPath}}"></video>
        <div ng-click="play(e);poster=!1" ng-show="poster" ng-init="poster=!0" style="z-index:100" id="poster" class="poster">
          <img style="width:100%;height:100%;" class="poster-img" ng-src="{{videoInfo.picpath}}">
          <img style="width:70px;height:70px;" class="poster-img" src="images/play-ico.png">
        </div>
      </div>
    </div>
    <ul class="video-navs">
        <li click-color ui-sref=".info" class='current'>课程详细</li>
        <li click-color ui-sref=".comment">评论</li>
        <li click-color ui-sref=".related">相关视频</li>
    </ul>

      <div class="video-tabs">
        <div ui-view="">
          <div class=" course-ifo">
            <span class="ico ico-title-ico"></span>
            <span>{{videoInfo.caption}}</span><br/><br/>
            <span class="ico ico-who-ico"></span>
            <span>{{videoInfo.provider}}</span><br/><br/>
            <span class="ico ico-clock-ico"></span>
            <span>{{videoInfo.videolength/60|number:0}}分钟</span><br/><br/>
            <span class="ico ico-place-ico"></span>
            <p style="margin-left: 38px;">{{videoInfo.script}}</p>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
