<div class="reg-main">
  <div class="top">
    <a href="#/tab/idx"><img src="images/logo.png"></a>
  </div>
  <div class="bottom">
    <form id="waploginForm" autocomplete="off">
      <p>账&nbsp;&nbsp;&nbsp;号：
        <input ng-model="login.userid" placeholder="请输入手机号或账号" type="text" class="userid" id="userid">
      </p>
      <p>密&nbsp;&nbsp;&nbsp;码：
        <input ng-model="login.password" type="password" class="password" id="password">
      </p>
      <p>验证码：
        <input ng-model="login.code" type="text" class="captcha" id="captcha">
        <img id="captchaimg" ng-click="changeCode()" ng-src="{{code}}">
      </p>
      <p>
        <input class="submit-btn" type="button" value="登录" ng-click="logSubmit()">
      </p>
      <p id="link"><a class="reg" href="">还没有账号？去注册 ></a></p>
    </form>
  </div>
</div>
