<ion-view view-title="设置">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-stable" ng-click="$ionicGoBack()">
        <i style="font-size: 20px;" class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item style="color: #000" ng-click="feedBack()" class="item-icon-right" type="item-text-wrap">
        <span>反馈</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right" type="item-text-wrap" href="#/t9cloud">
        <span>关于T9云教室</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>