<ion-view view-title="{{title}}">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-stable" ng-click="$ionicGoBack()">
        <i style="font-size: 20px;" class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="button button-stable" ng-href="#/search">
        <i style="font-size: 28px;" class="ion-search"></i>
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="sort-main">
      <div class="menu-container">
        <div ng-style="menuStyle" class="zt-container" ng-init="timeIndex=-1;sortIndex=-1">
          <div class="zt-menu">
            <ul class="zt-lists">
              <li ng-click="sortQurey(-1,-1)" class="zt-list-one">全部</li>
              <li ng-repeat="sort in sorts">
                <a ng-click="sortQurey($index,timeIndex)" href="javascript:void(0)">{{sort.t9reskinds.name}}</a>
              </li>
            </ul>
          </div>
          <div style='display:none' class="zt-menu">
            <ul class="zt-lists">
              <li style="font-weight: bold" class="zt-list-one">时间：</li>
              <li ><a ng-click="sortQurey(sortIndex,-1)" href="javascript:void(0)">全部</a></li>
              <li ><a ng-click="sortQurey(sortIndex,0)" href="javascript:void(0)">一周内</a></li>
              <li ><a ng-click="sortQurey(sortIndex,1)" href="javascript:void(0)">两周内</a></li>
              <li ><a ng-click="sortQurey(sortIndex,2)" href="javascript:void(0)">一月内</a></li>
              <li ><a ng-click="sortQurey(sortIndex,3)" href="javascript:void(0)">半年内</a></li>
            </ul>
          </div>
        </div>
        <div ng-click="slideToggle()" class="search-title">
          <span ng-cloak>{{querySort}}·{{queryTime}} </span>
        </div>
      </div>
      <div class="search-content">
        <ul class="course-list">
          <li ng-repeat="course in courses" class="course-one">
            <a ng-href="#/play/{{course.resid}}">
              <div class="thumbnail">
                <div class="img-container">
                  <img ng-src="{{course.picpath}}" alt="缩略图">
                </div>
              </div>
              <div class="caption">
                <b ng-cloak>{{course.caption}}</b>
                <p ng-cloak>时长：{{course.videolength/60 | number: null}}分钟</p><p ng-cloak>观看：{{course.clknum}}人</p>
              </div>
            </a>
          </li>
        </ul>
        <div class="refresh" style="display: none;">
          <p>
            <img class="refresh-img" src="images/loading.gif" style="display: none;"> <span class="refresh-text">没有更多内容~</span>
          </p>
        </div>
        <form style="display: none" id="form1">
          <input type="text" id="kindcode" name="kindecode" value="004">
          <input type="text" id="pagenum" name="pageNumber" value="1">
          <input type="text" id="pasttime" name="pasttime" value="">
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
