.account{width:100%}
.account .account-top{height:220px;overflow:hidden;border-bottom:1px solid #ccc}
.account .account-top .headpic{width:90px;height:90px;border-radius:90px;border:1px solid transparent;margin:30px auto}
.account .account-top .headcaption{margin-top:-3px;height:50px;line-height:25px}
.account .account-top .headcaption p{color:#777;height:50px;line-height:25px;text-align:center;font-size:14px}
.account .account-bottom .login-btn{margin-top:55px;height:40px;line-height:40px;text-align:center;font-size:17px;width:80%;margin-left:10%;color:#eee;border-radius:5px;background-color:#2dA7E0}
.account .account-bottom .reg-btn{display:block;width:120px;margin:20px auto;padding:5px 0;color:#2dA7E0}
.account .account-bottom .studying .title{height:50px;font-size:18px;color:#444;line-height:50px;text-align:center}
.account .account-bottom .studying .course-list{width:96%;margin:0 3%}
.account .account-bottom .studying .course-list .course-one{width:100%;overflow:hidden;position:relative;height:100%;padding-bottom:10px;margin-top:10px}
.account .account-bottom .studying .course-list .course-one .thumbnail{width:48%;float:left;position:relative;overflow:hidden;margin-right:4%}
.account .account-bottom .studying .course-list .course-one .thumbnail .inner{width:100%;padding-top:56%;overflow:hidden;position:relative}
.account .account-bottom .studying .course-list .course-one .thumbnail .inner img{width:100%;height:100%;position:absolute;left:0;top:0}
.account .account-bottom .studying .course-list .course-one .caption{width:48%;display:block;float:left;position:absolute;right:0;height:100%;border-bottom:1px solid #CCC}
.account .account-bottom .studying .course-list .course-one .caption .caption-top{text-align:left;white-space:nowrap;height:24px;font-size:16px;text-overflow:ellipsis;line-height:24px;width:100%;display:block;float:left;overflow:hidden;padding-bottom:10px}
.account .account-bottom .studying .course-list .course-one .caption .caption-bottom{display:inline-block;float:left;width:100%}
.account .account-bottom .studying .course-list .course-one .caption .caption-bottom span{line-height:24px;display:block;float:left;width:100%;text-align:left}
*{margin:0;padding:0;border-style:none}
body,button,html,input,p,select,textarea{font-family:"Microsoft YaHei","΢���ź�",helvetica,arial,verdana,tahoma,sans-serif;font-size:13px;line-height:20px}
a,a:hover,a:link,a:visited{color:#000;text-decoration:none}
li,ol,ul{list-style:none;display:block;padding-start:0}
img{width:100%;height:100%}
.footer{width:100%;float:left;height:100px;background-color:#2dA7E0;text-align:center}
.footer p{width:100%;line-height:90px;color:#fff;font-size:14px}
.side-bar{position:fixed;bottom:50px;right:30px;width:50px;height:50px;background-color:#0e92d0;opacity:.7}
.side-bar a span{padding:5px 9px;font-size:16px;display:block;color:#fff}
.ico{background:url(../images/ico.png) no-repeat;display:block}
.ico-upvote-ico{height:20px;width:13px;background-position:0 0}
.ico-search-ico{height:16px;width:16px;background-position:0 -20px}
.ico-place-ico{height:16px;width:17px;background-position:0 -36px}
.ico-who-ico{height:16px;width:17px;background-position:0 -52px}
.ico-play-ico{height:16px;width:17px;background-position:0 -68px}
.ico-clock-ico{height:16px;width:17px;background-position:0 -84px}
.ico-message-ico{height:16px;width:17px;background-position:0 -100px}
.ico-note-ico{height:22px;width:17px;background-position:0 -116px}
.ico-title-ico{height:17px;width:18px;background-position:0 -138px}
.ico-watch-ico{height:21px;width:21px;background-position:0 -155px}
.ico-paper-ico{height:51px;width:41px;background-position:0 -176px}
.logo{height:208px;width:208px;background-position:0 -227px}
.login-main,.reg-main{width:96%;margin:0 3%}
.login-main .top,.reg-main .top{width:100%;text-align:center;margin-top:20px}
.login-main .top img,.reg-main .top img{width:80px;height:80px;margin:5px auto}
.login-main .top p,.reg-main .top p{font-size:13px}
.login-main .bottom,.reg-main .bottom{margin-top:20px}
.login-main .bottom form p,.reg-main .bottom form p{width:70%;color:#444;margin-left:15%;height:50px;font-size:14px;line-height:50px;position:relative;padding-left:8px;border-bottom:1px solid #eee}
.login-main .bottom form p input[type=text],.login-main .bottom form p input[type=password],.reg-main .bottom form p input[type=text],.reg-main .bottom form p input[type=password]{padding:4px 10px;width:70%;color:#ccc;position:absolute;left:5em;top:9px;font-size:14px}
.login-main .bottom form p #captcha,.reg-main .bottom form p #captcha{width:90px;position:absolute;left:5em;top:9px}
.login-main .bottom form p img,.reg-main .bottom form p img{position:absolute;left:152px;top:0;height:50px;width:80px;float:right;margin-top:-5px}
.login-main .bottom form p .submit-btn,.reg-main .bottom form p .submit-btn{margin-top:20px;font-size:16px;padding:10px 0;width:100%;color:#fff;background-color:#2dA7E0;border-radius:5px}
.login-main .bottom form #link,.reg-main .bottom form #link{margin:20px auto;text-align:center;border:none}
.login-main .bottom form #link .reg,.reg-main .bottom form #link .reg{color:#2dA7E0}
.player-main{font-size:14px;width:100%}
.player-main .player{width:100%;position:relative;overflow:hidden}
.player-main .player .player_html5{width:100%;height:100%;margin:auto;top:0;left:0;right:0;bottom:0}
.player-main .player .loading{width:100%;opacity:.8;background-color:#000;overflow:hidden;position:absolute;z-index:900;margin:auto;top:0;left:0;right:0;bottom:0}
.player-main .player .poster{width:100%;overflow:hidden;position:absolute;margin:auto;top:0;left:0;right:0;bottom:0}
.player-main .player .poster img{position:absolute;margin:auto;top:0;left:0;right:0;bottom:0}
.video-navs{height:50px;width:100%;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:10px}
.video-navs li{display:block;float:left;line-height:50px;width:33.33%;height:50px;text-align:center}
.video-navs .current{color:#2dA7E0;border-bottom:2px solid #2dA7E0}
.video-tabs{width:100%;position:relative;height:100%}
.video-tabs .course-ifo{margin-top:10px}
.video-tabs .course-ifo span{float:left;margin-left:10px;display:block;height:18px;line-height:18px}
.video-tabs .chat-area{float:left;width:100%}
.video-tabs .chat-area .comment-fn{width:100%;float:left;position:relative}
.video-tabs .chat-area .comment-fn .comment-btn{width:96%;height:60px;background-color:#2dA7E0;margin:0 2%;color:#fff;border-radius:10px}
.video-tabs .chat-area .comment-fn form{width:100%;margin-bottom:20px}
.video-tabs .chat-area .comment-fn form .comment-input{width:100%}
.video-tabs .chat-area .comment-fn form .comment-input .default-text{border:1px solid #2dA7E0;max-width:99%;min-width:99%;max-height:99%;min-height:99%;resize:none;padding:5px}
.video-tabs .chat-area .comment-fn form .comment-sub{width:100%;padding-top:5px;height:30px}
.video-tabs .chat-area .comment-fn form .comment-sub input{display:block;float:right;background-color:#0f99da;outline:0;color:#fff;border-style:none;padding:5px 10px;border-radius:2px;margin-right:1%}
.video-tabs .chat-area .comment-fn .comment-all{width:100%;margin-top:10px;position:relative}
.video-tabs .chat-area .comment-fn .comment-all li{padding:15px 10px;border-top:1px solid #ddd}
.video-tabs .chat-area .comment-fn .comment-all li .comment-head{height:40px;float:left}
.video-tabs .chat-area .comment-fn .comment-all li .comment-head img{height:40px;width:40px;border-radius:40px}
.video-tabs .chat-area .comment-fn .comment-all li .comment-content{margin-left:60px;line-height:20px;font-size:12px}
.video-tabs .chat-area .comment-fn .comment-all li .comment-content .comment-text{font-size:14px;overflow:hidden;word-wrap:break-word;margin:10px 0}
.video-tabs .chat-area .comment-fn .comment-all li .comment-content .comment-date{font-size:12px;color:#a0a0a0}
.video-tabs .related-video .course-list{width:96%;margin:0 3%}
.video-tabs .related-video .course-list .course-one{width:100%;overflow:hidden;position:relative;height:100%;padding-bottom:10px;margin-top:10px}
.video-tabs .related-video .course-list .course-one .thumbnail{width:48%;float:left;position:relative;overflow:hidden;margin-right:4%}
.video-tabs .related-video .course-list .course-one .thumbnail .inner{width:100%;padding-top:56%;overflow:hidden;position:relative}
.video-tabs .related-video .course-list .course-one .thumbnail .inner img{width:100%;height:100%;position:absolute;left:0;top:0}
.video-tabs .related-video .course-list .course-one .caption{width:48%;display:block;float:left;position:absolute;right:0;height:100%;border-bottom:1px solid #CCC}
.video-tabs .related-video .course-list .course-one .caption .caption-top{text-align:left;white-space:nowrap;height:24px;font-size:16px;text-overflow:ellipsis;line-height:24px;width:100%;display:block;float:left;overflow:hidden;padding-bottom:10px}
.video-tabs .related-video .course-list .course-one .caption .caption-bottom{display:inline-block;float:left;width:100%}
.video-tabs .related-video .course-list .course-one .caption .caption-bottom span{line-height:24px;display:block;float:left;width:100%;text-align:left}
.search-header{height:44px;width:100%;background-color:#f8f8f8;border-bottom:1px solid #ddd}
.search-header .container-s{height:44px;margin-right:70px;position:relative}
.search-header .container-s input{position:absolute;width:100%;left:0;margin:7px 13px;height:30px;right:0;padding:0 10px;border:1px solid #ccc;border-radius:8px}
.search-header .container-s .cancle-btn{position:absolute;right:-67px;padding:12px}
.search-header .container-s .del-btn{background-color:#ccc;color:#fff;border-radius:15px;display:block;width:16px;overflow:hidden;height:16px;line-height:16px;text-align:center;font-size:12px;position:absolute;right:-5px;top:14px}
.keyword-list{width:96%;margin:0 3%;overflow:hidden}
.keyword-list ul{display:inline-block}
.keyword-list ul li{font-size:12px;display:block;float:left;color:#bbb;padding:5px 15px;margin:7px 10px;border-radius:30px;border:1px solid #eee}
.loading{text-align:center;overflow:hidden}
.loading p{margin-top:-20px;color:#aaa;position:relative;z-index:10}
.loading img{margin-top:-10px;height:50px;width:50px}
.no-result{overflow:hidden;text-align:center}
.no-result p{margin-top:10px;color:#aaa;position:relative;z-index:10}
.popup-sex{height:40px;line-height:40px;text-align:center;border:1px solid #ccc}
.popup-body .current{background-color:#2dA7E0;color:#fff}
.sort-main{width:100%}
.sort-main .menu-container{width:100%}
.sort-main .menu-container .zt-container{width:100%;overflow:hidden;height:41px;opacity:1;-webkit-transition-duration:.4s}
.sort-main .menu-container .zt-container .zt-menu{width:100%;border-bottom:1px solid #ccc;line-height:0}
.sort-main .menu-container .zt-container .zt-menu .zt-lists{display:inline-block;width:100%;line-height:40px}
.sort-main .menu-container .zt-container .zt-menu .zt-lists li{display:block;float:left;line-height:40px;padding:0 5px;font-size:13px}
.sort-main .menu-container .search-title{width:100%;height:40px;line-height:40px;border-bottom:1px solid #ccc;z-index:10;text-align:center}
.sort-main .menu-container .search-title span{text-align:center;color:#666;margin:0 auto;position:relative;font-size:12px;height:40px;padding-top:5px;padding-right:20px}
.sort-main .menu-container .search-title span:before{content:"";position:absolute;bottom:0;right:0;width:0;height:0;border-width:5px;border-style:solid;z-index:20;border-color:#666 transparent transparent transparent}
.sort-main .menu-container .search-title span:after{content:"";position:absolute;right:0;bottom:2px;width:0;z-index:20;height:0;border-width:5px;border-style:solid;border-color:#eee transparent transparent transparent}
.search-content{width:96%;margin:0 2%}
.search-content .course-list{width:100%;clear:both;display:inline-block}
.search-content .course-list .course-one{display:table;width:100%;float:left;margin-top:10px}
.search-content .course-list .course-one a{display:inline-block;height:100%;width:100%}
.search-content .course-list .course-one a .thumbnail{width:50%;float:left;border-radius:5px;position:relative;overflow:hidden}
.search-content .course-list .course-one a .thumbnail .img-container{width:100%;padding-top:56%;position:relative;overflow:hidden}
.search-content .course-list .course-one a .thumbnail .img-container img{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:100%}
.search-content .course-list .course-one a .caption{width:45%;margin-left:3%;float:left;height:100%;border-bottom:1px solid #CCC}
.search-content .course-list .course-one a .caption b{font-size:13px;overflow:hidden;line-height:20px;padding-top:2px;display:block}
.hot-area{width:96%;margin:0 2%;display:inline-block;padding-top:4%}
.hot-area .hot-col{width:47%;margin:0 1.5%;float:left;overflow:hidden;border-radius:5px}
.hot-area .hot-col a{display:block;position:relative}
.hot-area .hot-col .thumbnail{padding-top:52%;position:relative;overflow:hidden}
.hot-area .hot-col .thumbnail img{position:absolute;width:100%;height:100%;left:0;top:0;right:0;bottom:0;z-index:10}
.hot-area .hot-col .thumbnail .img-mask{position:absolute;width:100%;height:100%;left:0;top:0;right:0;bottom:0;background-color:#000;opacity:.6;z-index:20}
.hot-area .hot-col .caption{width:100%;display:inline-block;position:absolute;z-index:30;top:50%;-webkit-transform:translate3d(0,-50%,0)}
.hot-area .hot-col .caption p{width:90%;margin:0 5%;line-height:1.5;color:#fff}
.hot-area .hot-col .caption .title{font-size:20px}
.hot-area .hot-bubble{margin-top:2%;width:96%;margin-left:2%;display:inline-block}
.hot-area .hot-bubble ul{display:inline-block}
.hot-area .hot-bubble ul li{display:block;float:left;border-radius:10px;padding:5px 10px;margin-right:10px}
.hot-area .hot-bubble ul li a{display:block;width:100%;height:100%;color:#1e90ff;font-size:14px}
.zt-module{width:96%;margin:2% 2% 0 2%;border-radius:5px}
.zt-module .zt-name{width:97%;margin:0 1.5%;background-color:#f8f8f8;padding:10px 15px;color:#222}
.zt-module .zt-name p{font-size:16px;margin:0}
.zt-module .fl-list{width:100%}
.zt-module .fl-list ul{width:100%;display:inline-block;margin-top:2%}
.zt-module .fl-list ul li{display:block;position:relative;float:left;width:47%;margin:0 1.5%;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:30px;line-height:30px;padding:0 15px}
.zt-module .fl-list ul li a{font-size:14px}
.zt-module .fl-list ul li:before{content:"";position:absolute;top:13px;left:3px;width:4px;height:4px;border-radius:4px;background-color:#ccc}
.mask{position:fixed;top:-100%;left:0;right:0;z-index:1000;bottom:-100%;background:rgba(0,0,0,.4)}
.header{position:fixed;background-color:#fff;width:100%;height:45px;top:0;left:0;line-height:45px;font-size:14px;z-index:1010}
.header .logo{position:absolute;width:45px;height:45px}
.header .logo img{padding:4.5px}
.header .search{margin:0 55px;display:block}
.header .search .search-form form{position:relative}
.header .search .search-form form .ico-search-ico{position:absolute;top:16px;left:13px}
.header .search .search-form form input[type=text]{height:25px;line-height:25px;padding:0 40px;background-color:#f8f8f8;border-radius:5px;width:100%;font-size:12px;color:#999;border-top:1px solid #666;border-bottom:1px solid #f8f8f8}
.header .menu{width:45px;height:45px;position:absolute;right:0;top:0}
.header .menu ul{width:180px;position:absolute;background-color:#fff;top:53px;left:-140px;z-index:1005;padding-bottom:5px;border-radius:4px}
.header .menu ul li{display:block;float:left;height:45px;width:132px;margin-left:24px;line-height:45px;border-top:1px solid #e0e0e0}
.header .menu ul li .menu-ico{width:21px;height:21px;padding:12px 0;float:left}
.header .menu ul li span{font-size:16px;height:45px;line-height:45px;width:70px;float:left;margin-left:10px}
.header .menu ul:before{content:"";border-width:9px;border-style:solid;border-color:transparent transparent #fff transparent;width:0;height:0;position:absolute;top:-16px;left:150px;z-index:1006}
.header .menu .img{padding:14.5px 11px;width:23px;height:16px}
.idxmain{background-color:#f8f8f8;overflow:hidden;width:100%;color:#444}
.idxmain p,.idxmain span{color:#444}
.idxmain .slide-box{width:100%;position:relative;overflow:hidden;height:200px}
.idxmain .slide-box img{width:100%;height:200px}
.idxmain .slide-box i{font-size:1px}
.idxmain .nav{height:85px;overflow:hidden;padding-top:15px;background-color:#fff}
.idxmain .nav .nav-container{overflow-x:auto;overflow-y:hidden;height:85px}
.idxmain .nav .nav-container ul{overflow:hidden;width:100%}
.idxmain .nav .nav-container ul li{width:20%;height:85px;display:block;float:left}
.idxmain .nav .nav-container ul li a{display:inline-block;overflow:hidden;position:relative;width:100%;height:100%;font-size:14px;line-height:14px;text-align:center;text-overflow:ellipsis}
.idxmain .nav .nav-container ul li a img{height:40px;width:40px;overflow:hidden}
.idxmain .nav .nav-container ul li a .title{position:relative;top:5px;height:24px;width:50px;margin:0 auto;line-height:12px;text-align:center;text-overflow:ellipsis;overflow:hidden;font-size:12px;color:#666}
.idxmain .text-module{width:100%;padding-top:10px;background-color:#fff}
.idxmain .text-module .text-title{font-size:16px;width:94%;margin:10px 3%;padding-left:10px;position:relative}
.idxmain .text-module .text-title:before{content:"";position:absolute;width:4px;height:16px;border-radius:4px;top:2px;left:0;background-color:#444}
.idxmain .text-module .note-area{height:40px;width:100%;overflow:hidden;background-color:#f8f8f8;border-radius:6px}
.idxmain .text-module .note-area .note-list{line-height:40px;overflow:hidden;position:relative;width:100%}
.idxmain .text-module .note-area .note-list .note-one{background-color:#f8f8f8;border-radius:5px;height:40px;line-height:40px;position:relative;margin:0 10px 0 100px}
.idxmain .text-module .note-area .note-list .note-one .time{width:80px;position:absolute;left:-90px;top:0;line-height:40px;text-align:center}
.idxmain .text-module .note-area .note-list .note-one .title-name{width:100%;position:absolute;line-height:40px;left:0;top:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.idxmain .video-module{margin-bottom:12px;background-color:#fff;width:100%;overflow:hidden}
.idxmain .video-module .video-title{font-size:16px;width:94%;margin:10px 3%;padding-left:10px;position:relative}
.idxmain .video-module .video-title:before{content:"";position:absolute;width:4px;height:16px;border-radius:4px;top:2px;left:0;background-color:#444}
.idxmain .video-module ul{width:96%;margin:0 2%;float:left;min-height:150px}
.idxmain .video-module ul li{width:48%;float:left;margin:0 1%;height:100%;overflow:hidden}
.idxmain .video-module ul li .video-one{position:relative;overflow:hidden;width:100%}
.idxmain .video-module ul li .video-one .thumbnail{padding-top:56%;width:100%;position:relative;overflow:hidden}
.idxmain .video-module ul li .video-one .thumbnail img{position:absolute;top:0;left:0;width:100%;height:100%;z-index:10}
.idxmain .video-module ul li .video-one .thumbnail .img-mask{position:absolute;bottom:0;left:0;width:100%;height:20px;background-color:#000;opacity:.5;z-index:20}
.idxmain .video-module ul li .video-one .caption{height:100%;padding-left:2px;background-color:#fff;width:100%;float:left;border-radius:4px;position:relative}
.idxmain .video-module ul li .video-one .caption p{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;height:30px;line-height:30px}
.idxmain .video-module ul li .video-one .caption span{position:absolute;top:-20px;z-index:30;font-size:12px;color:#f8f8f8}
.idxmain .video-module ul li .video-one .caption .video-time{left:2px}
.idxmain .video-module ul li .video-one .caption .study-num{right:2px}
.idxmain .feedback-module{width:100%;background-color:#fff}
.idxmain .feedback-module .feedback-title{font-size:16px;width:94%;margin:10px 3%;padding-left:10px;position:relative}
.idxmain .feedback-module .feedback-title:before{content:"";position:absolute;width:4px;height:16px;border-radius:4px;top:2px;left:0;background-color:#444}
.idxmain .feedback-module .feedback-list{line-height:30px;height:120px;overflow:hidden;width:96%;margin:0 2%;position:relative;background-color:#fff}
.idxmain .feedback-module .feedback-list .feedback-one{height:30px;line-height:30px;position:relative;margin:0 10px 0 100px}
.idxmain .feedback-module .feedback-list .feedback-one .time{width:80px;position:absolute;left:-100px;top:0;line-height:30px;text-align:center}
.idxmain .feedback-module .feedback-list .feedback-one .title-name{width:100%;position:absolute;line-height:30px;left:0;top:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.ui-switch,.ui-switch-content,.ui-switch-panel{display:block;position:relative}
.ui-switch{z-index:1;overflow:hidden}
.ui-switch-content{z-index:2}
.ui-switch-panel{z-index:3}
.ui-switch-panel.active{z-index:5}
.ui-switch-panel.hide{display:none}
.ui-switch-nav{display:block;position:absolute;bottom:0;left:0;right:0;z-index:6;line-height:20px;font-size:12px;text-align:center}
.ui-switch-nav-item{display:inline-block;margin:0 2px;color:#fff;opacity:.4}
.ui-switch-nav-item.active{opacity:.8}
.ui-switch-gallery{height:124px;margin:0 1em}
.ui-switch-gallery .ui-switch-content{position:absolute;left:0;top:0;bottom:0}
.ui-switch-gallery .ui-switch-panel{float:left;width:160px;height:124px;margin:0 1em 0 0}
.ui-switch-gallery .ui-switch-panel.last{margin-right:0}
.ui-switch-gallery .ui-switch-panel img{display:block}
.ui-switch-slider{height:200px}
.ui-switch-slider .ui-switch-content,.ui-switch-slider .ui-switch-panel{position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden}
.ui-switch-slider .ui-switch-panel.active{z-index:4}
.main{margin-top:45px}
.main .main-mid{width:94%;margin:0 3%;position:relative}
.main .main-mid .tabone{width:100%;text-align:center;height:45px;line-height:45px;border-bottom:1px solid #e0e0e0}
.main .main-mid .tabone li{line-height:45px;width:100%;display:block;float:left;font-size:14px}
.main .main-mid .tabone .current{border-bottom:2px solid #2dA7E0}
.main .main-mid .tabs{width:100%;text-align:center;height:45px;line-height:45px;border-bottom:1px solid #e0e0e0}
.main .main-mid .tabs li{line-height:45px;width:50%;display:block;float:left;font-size:14px}
.main .main-mid .tabs .current{border-bottom:2px solid #2dA7E0}
.main .main-mid .row1{width:100%;height:50px;line-height:50px;position:relative;border-bottom:1px solid #e0e0e0}
.main .main-mid .row1 .class-name{display:block;float:left;width:50%}
.main .main-mid .row1 .switch-class{display:block;position:relative;height:30px;line-height:30px;margin:5px 0;padding:2px 30px;color:#fff;float:left;width:60px;text-align:center;background-color:#2dA7E0;border-radius:4px}
.main .main-mid .class-ifo{border-bottom:1px solid #e0e0e0;padding-bottom:10px}
.main .main-mid .class-ifo p{margin-top:10px}
.main .main-mid .select-class{position:fixed;width:180px;line-height:30px;display:table;border-radius:4px;margin:auto;top:50%;left:0;right:0;z-index:1005;background-color:#fff}
.main .main-mid .select-class a{line-height:45px;width:100%;height:45px;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;float:left;border-bottom:1px solid #ccc}
.main .main-bottom .tabs{width:100%;text-align:center;height:45px;line-height:45px;margin-bottom:20px;border-bottom:1px solid #e0e0e0}
.main .main-bottom .tabs li{line-height:45px;width:50%;display:block;float:left;font-size:14px}
.main .main-bottom .tabs .current{border-bottom:2px solid #2dA7E0;color:#2dA7E0}
.main .main-bottom .inactive{display:none}
.main .main-bottom .course-list{width:96%;margin:0 3%}
.main .main-bottom .course-list .course-one{width:100%;overflow:hidden;position:relative;height:100%;padding-bottom:10px;margin-top:10px}
.main .main-bottom .course-list .course-one .thumbnail{width:48%;float:left;position:relative;overflow:hidden;margin-right:4%}
.main .main-bottom .course-list .course-one .thumbnail .inner{width:100%;padding-top:56%;overflow:hidden;position:relative}
.main .main-bottom .course-list .course-one .thumbnail .inner img{width:100%;height:100%;position:absolute;left:0;top:0}
.main .main-bottom .course-list .course-one .caption{width:48%;display:block;float:left;position:absolute;right:0;height:100%;bottom:50%;border-bottom:1px solid #CCC;-webkit-transform:translateY(50%);transform:translateY(50%)}
.main .main-bottom .course-list .course-one .caption .caption-top{text-align:left;white-space:nowrap;font-weight:700;height:24px;font-size:13px;text-overflow:ellipsis;line-height:24px;width:100%;display:block;float:left;overflow:hidden;padding-bottom:10px}
.main .main-bottom .course-list .course-one .caption .caption-bottom{display:inline-block;float:left;width:100%}
.main .main-bottom .course-list .course-one .caption .caption-bottom span{line-height:24px;display:block;float:left;width:100%;text-align:left}
.main .main-bottom .no-course{width:100%;height:50px}
.main .main-bottom .no-course p{line-height:70px;text-align:center}
.main .main-bottom .no-course p a{margin:0 10px;padding:8px 15px;background-color:#2dA7E0;color:#fff;border:40px}
.red{color:#DC143C}
.main .exam-main{width:94%;margin:5px 3%;border-bottom:1px solid #ccc;padding-bottom:10px}
.main .exam-main .exam-top{height:40px;line-height:40px;font-size:15px;font-weight:700;text-align:center}
.main .exam-main .exam-content{width:100%;height:100%;overflow:hidden;position:relative}
.main .exam-main .exam-content .img-container{padding-top:40%;width:100%;overflow:hidden;position:relative}
.main .exam-main .exam-content .img-container img{position:absolute;width:100%;height:100%;overflow:hidden;left:0;top:0}
.main .exam-main .exam-content .exam-ifo{position:absolute;top:50%;width:100%;height:90px;margin-top:-45px;text-align:center}
.main .exam-main .exam-content .exam-ifo p{height:30px;line-height:30px;font-weight:700}
.main .exam-main .exam-bottom{height:60px;margin-top:10px;text-align:center}
.main .exam-main .exam-bottom p{height:30px;line-height:30px}
.main .exam-main .exam-bottom p .red{color:#DC143C}
.main .exam-main .exam-bottom p a{padding:5px 10px;background-color:#2dA7E0;margin-left:20px;border:2px;color:#fff}
.main .msg-main .msg-list ul{padding-top:10px;width:96%;margin:0 3%}
.main .msg-main .msg-list ul .msg-one{position:relative;width:100%;float:left;margin:10px 0}
.main .msg-main .msg-list ul .msg-one .msg-left{margin-top:15px;float:left;width:17%;overflow:hidden;position:relative}
.main .msg-main .msg-list ul .msg-one .msg-left .img-container{width:100%;height:100%;padding-top:100%;position:relative;overflow:hidden}
.main .msg-main .msg-list ul .msg-one .msg-left .img-container img{width:100%;height:100%;position:absolute;border-radius:100%;left:0;top:0}
.main .msg-main .msg-list ul .msg-one .msg-left span{display:block;margin:0 auto;font-size:12px;width:100%;height:20px;line-height:20px;margin-left:1px;color:#DC143C;text-align:center}
.main .msg-main .msg-list ul .msg-one .msg-right{width:73%;border-bottom:1px solid #ccc;margin-left:20px;float:left;min-height:20px;height:100%;line-height:20px;padding-bottom:20px}
.main .msg-main .msg-list ul .msg-one .msg-right .msg-title{float:left}
.main .msg-main .msg-list ul .msg-one .msg-right .msg-title .title2{display:block;line-height:20px;width:5em;float:left;margin-right:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.main .msg-main .msg-list ul .msg-one .msg-right .msg-title .title3{display:block;float:left;margin-right:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.main .msg-main .msg-list ul .msg-one .msg-right .msg-text{float:left;width:100%;border:1px solid #000;padding:5px 10px;margin-top:10px;position:relative;border-radius:4px}
.main .msg-main .msg-list ul .msg-one .msg-right .msg-text:before{content:"";width:0;height:0;position:absolute;border-width:5px;left:-11px;top:3px;border-style:solid;border-color:transparent #000 transparent transparent}
.main .msg-main .msg-list ul .msg-one .msg-right .msg-text:after{content:"";width:0;height:0;position:absolute;border-width:5px;left:-10px;top:3px;border-style:solid;border-color:transparent #eee transparent transparent}
.main .msg-main .msg-list ul .bold{font-weight:700}
.main .pw-main{width:94%;margin:5px 3%;position:relative}
.main .pw-main .change-pw{margin-top:20px;margin-left:2em}
.main .pw-main .change-pw p{line-height:40px;height:40px}
.main .pw-main .change-pw p input[type=password]{padding:4px 5px;width:65%}
.main .pw-main .change-pw input[type=button]{width:100%;height:38px;margin-left:-1em;margin-top:20px;color:#fff;background-color:#2dA7E0}