@blue: #2dA7E0;
.account{
  width:100%;
  .account-top{
    height: 220px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    .headpic{
      width: 90px;
      height: 90px;
      border-radius: 90px;
      border: 1px solid transparent;
      margin: 30px auto;
    }
    .headcaption{
      margin-top: -3px;
      height: 50px;
      line-height: 25px;
      p{
        color: #777;
        height: 50px;
        line-height: 25px;
        text-align: center;
        font-size: 14px;
      }
      .logpre{
        display: block;
      }
      .logafter{
        display: none;
      }
    }
  }
  .account-bottom{
    .logpre{
      .login-btn{
        margin-top: 55px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 17px;
        width: 80%;
        margin-left: 10%;
        color: #eee;
        border-radius: 5px;
        background-color: @blue;
      }
      .reg-btn{
        display: block;
        width: 120px;
        margin: 20px auto;
        padding: 5px 0;
        color: @blue;
      }
    }
  }
}